.left_menu{ width:168px; margin:0px; padding:0px;
	background:#e2e9f1;border-right:1px solid #b4bbc4;}
.nav_top{
	height:24px;
	width:inherit;
	text-indent:15px;
	font-size:14px; color:#FFFFFF; line-height:24px; 
	margin:0;
	background:url(../images/left_menu_top_bg.png) left top no-repeat;
}
.nav_top span{ float:left;}
.nav_top .bgr{
	height:24px;
	width:8px;
	margin:0px; padding:0px;
	float:right;
	background:url(../images/left_menu_top_bg.png) right top #f0f0f0 no-repeat;
}
/*color red*/
.nav_top_red{
	height:24px;
	width:inherit;
	text-indent:15px;
	font-size:14px; color:#FFFFFF; line-height:24px; 
	margin:0;
	background:url(../images/left_menu_top_bg.png) left -24px no-repeat;
}
.nav_top_red span{ float:left;}
.nav_top_red span.s_right{ float:left;}
.nav_top_red span.s_right a{ 
	background:transparent url(../images/menu_arrow.png) no-repeat scroll 100% 50%; color:#fff;
	color:#FFFFFF;display:block;position:relative;width:86px;}
.nav_top_red .bgr{
	height:24px;
	width:8px;
	margin:0px; padding:0px;
	float:right;
	background:url(../images/left_menu_top_bg.png) right -24px #FFFFFF no-repeat;
}
/*color grey*/
.nav_top_grey{
	height:24px;
	width:inherit;
	text-indent:40px;
	font-size:14px; color:#FFFFFF; line-height:24px; 
	margin:0;
	background:url(../images/left_menu_top_bg.png) left -48px no-repeat;
}
.nav_top_grey span{ float:left;}
.nav_top_grey .bgr{
	height:24px;
	width:8px;
	margin:0px; padding:0px;
	float:right;
	background:url(../images/left_menu_top_bg.png) right -48px #F0f0f0 no-repeat;
}

/*color grey*/
.nav_top_lite_grey{
	height:29px;
	width:inherit;
	text-indent:40px;
	font-size:14px; color:#000000; line-height:29px; 
	margin:0;
	background:url(../images/left_menu_top_bg.png) left -96px no-repeat;
}
.nav_top_lite_grey span{ float:left;}
.nav_top_lite_grey span.icon{ position: relative; top:-5px; float:left;left:0px;}
.nav_top_lite_grey .bgr{
	height:29px;
	width:8px;
	margin:0px; padding:0px;
	float:right;
	background:url(../images/left_menu_top_bg.png) right -96px #F0f0f0 no-repeat;
}


/*color green*/
.nav_top_green{
	height:24px;
	width:inherit;
	text-indent:15px;
	font-size:14px; color:#FFFFFF; line-height:24px; 
	margin:0;
	background:url(../images/left_menu_top_bg.png) left -72px no-repeat;
}
.nav_top_green span{ float:left;}
.nav_top_green .bgr{
	height:24px;
	width:8px;
	margin:0px; padding:0px;
	float:right;
	background:url(../images/left_menu_top_bg.png) right -72px #f0f0f0 no-repeat;
}


/*cate color grey*/
.cate_top_grey{
	height:25px;
	width:inherit;
	text-indent:15px;
	padding:0;margin:5px 0px 0px 0px;
	/*font-size:18px; color:#1458c8; line-height:50px; color:#343640;
	background:url(../images/primary-top-with-content.png) left top no-repeat;*/
}
.cate_top_grey span{ float:left;}
.cate_top_grey span.right{ float:right;font-size:12px; color:#666666; line-height:25px; padding-right:10px; }


/*cate color grey*/
.cate_top_grey_solid{
	height:35px;
	width:inherit;
	text-indent:15px;
	font-size:18px; color:#80016C; line-height:35px; 
	margin:0;
	background:url(../images/cate_top_bg.png) left -35px no-repeat;
}
.cate_top_grey_solid table{ float:left;}
.cate_top_grey_solid span.right{ float:right;font-size:12px; color:#666666; line-height:35px; padding-right:10px; }
.cate_top_grey_solid .bgr{
	height:35px;
	width:8px;
	margin:0px; padding:0px;
	float:right;
	background:url(../images/cate_top_bg.png) right -35px #f0f0f0 no-repeat;
}

.menucontent{
	padding:5px;
	margin:0;
	background:url(../images/column-bg-grad.png) no-repeat bottom left;
}
.menucontent_184{
	padding:5px;
	margin:0;
	background:url(../images/column-bg-grad_184.png) no-repeat bottom left;
}
.menucontent_260{
	padding:5px;
	background:url(../images/column-bg-grad_260.png) no-repeat bottom left;
	width:260px;
}


.nav_bot_260{
background:url(../images/nav_bot_bg_260.png) no-repeat center top; 
width:260px; line-height:1px; font-size:1px; height:8px; 
float:left;}
.nav_bot_625{
background:url(../images/nav_bot_bg_625.png) no-repeat center top; 
width:625px; line-height:1px; font-size:1px; height:8px; 
float:left;}
#nav{
	margin:0px;
	width: 100%;
	height:auto;
	padding: 0px; padding-top:5px;
	font-size: 12px;
	line-height: 16px;
	border:none;
	float:left;
}
#nav li{
	width: 166px;
	padding-left: 0px;
	padding-bottom: 1px;
	list-style-image: none;
	list-style-type: none;
	float: left;
}
#nav li span.s_none a{ background:none; 	padding-left: 0px; color:#333333;font-weight:bold;}
#nav li span.s_none a:hover{ background:none;  padding-left: 0px; color:#80016C;}
#nav a{
	color:#333333;
	padding-left: 30px;
	display: block;
	text-decoration: none;
	background:url(../images/menu_arrow.png) 10px 4px no-repeat ;
	_background:url(../images/menu_arrow_ie.png) 10px 4px no-repeat ;
	height:20px;
	line-height:20px;
}
#nav a:hover {
	color:#333333;
	background:url(../images/menu_arrow_down.png) 10px 4px no-repeat ;

}
#nav li ul{
	padding-top: 1px;
	list-style-image: none;
	list-style-type: none;
	margin-left:16px;
}
#nav li ul a{
background:none;
color:#666666;
}
#nav li ul a:hover{
background:url(../images/left_menu_hover_bg.png) 10px top no-repeat;
}

#nav li li{
	padding-left: 0px;
}
#nav ul a{
	background:none;}
.cx {
	display:none;
	visibility:hidden;
}
.ex {
	display:inherit;
	visibility:inherit;
}

.sub_cate{
	height:auto;
	margin-bottom:50px;
}

ul.customer_center{
	width:169px;
}
ul.customer_center li.title h3 a:hover {
background-color:#E4EBF2;
color:#80016C;
text-decoration:none;
}
ul.customer_center li.title h3 a {position:relative;
 display: block;
 background:url(../images/h3-arrow.png) no-repeat scroll 146px 0.47em;
 border-top: 1px solid #cdcdcd;
 border-bottom: 1px solid #d1d1d1;
 margin: 0 2px 0 1px;font-size:13px;
 padding: .34em 2px .34em 12px;
 line-height: 14px;
 color: #333;
}

ul.customer_center li a {position:relative;
 display: block;
 margin: 0 2px 0 1px;
 padding: .34em 2px .34em 23px;
 line-height: 14px;
 color: #333; text-indent:10px; background:url(../images/blue_yuan_dot.png) no-repeat 20px 10px;}
ul.customer_center li a:hover {
color:#80016C;
text-decoration:none;
}

/* user_login*/
.user_login{
	width:100%; padding:0px; 
	margin:0px;
	border-top:1px solid #990099;background:#F7F7F7;
}

.login_message {
height:230px;
padding:0px;
width:527px;
font-size:14px;line-height:38px;
}
.login_message .promo{
	float:left;
	margin:5px 1px;
	padding:0 0 0 12px;
	width:486px;
	line-height:58px;height:58px;
	background:#F6F6F0 url(../images/cta_default.gif) no-repeat scroll center top;
	color:#FF1100;
}


.table_standard .label_box {
-moz-border-radius-bottomright:5px;
-moz-border-radius-topright:5px;
background:#F2F2F2 url(../images/signup_info.gif) no-repeat scroll 13px 50%;
border-color:#DBDBDB;
border-style:solid;
border-width:1px 1px 1px 2px;
color:#666666;
display:block;
font-size:12px;
line-height:16px;
padding:2px 10px 2px 30px;
text-transform:lowercase;
min-width:20px;
}
.table_standard .label_box.good {
background-color:#F0FEE9;
background-image:url(../images/signup_check.gif);
border-color:#E1EFDB;
}
.table_standard .label_box.error {
background-color:#FFCFCF;
background-image:none;
border-color:#E5A3A3;
color:#801B1B;
padding-left:10px;
}